<!DOCTYPE html>
<html>
<head>
  <title><%= SITE_NAME %><%= " / " + yield(:title) if content_for?(:title) %></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <% if content_for?(:canonical) %>
    <link rel="canonical" href="<%= yield(:canonical) %>">
    <meta property="og:url" content="<%= yield(:canonical) %>">
  <% end %>
  <meta property="og:title" content="<%= SITE_NAME %><%= " / " + yield(:title) if content_for?(:title) %>">
  <meta property="og:type" content="website">
  <meta property="og:description" content="">
  <meta property="og:image" content="<%= image_url('') %>">
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="root">
<div id="wrapper">

<div id="top_banner">
<%= link_to image_tag('top_banner.jpg', :id => 'banner_img'), '/' %>
</div>

<div id="side_column">
<div id="sidemenu">
<ul>
<li><%= link_to 'TOP', '/' %>
<li class='has-sub'><span>JSA Professional</span>
  <ul>
  <li><%= link_to 'Games', '/games' %>
  <li><%= link_to 'Players', '/players' %>
  </ul>
<li class='has-sub'><span>World Activities</span>
  <ul>
  <li><span>World Events</span>
  <li><%= link_to 'World Club Map', 'http://goo.gl/maps/SPrCo', :target=>'_blank' %>
  <li><span>World Shogi Portals</span>
  </ul>
<li class='has-sub'><span>Lessons</span>
  <ul>
  <li><%= link_to "Shogi Openings", 'http://kingcrimsondiscipline.blogspot.de/', :target=>'_blank' %>
  <li><%= link_to "YouTube Lessons", 'http://youtube.com/HIDETCHI', :target=>'_blank' %>
  </ul>
<li class='has-sub'><span>Online Game Sites</span>
  <ul>
  <li><%= link_to 'Shogi Club 24', 'http://www.shogidojo.com/eng/engindex.htm', :target=>'_blank' %>
  <li><%= link_to '81Dojo', 'http://81dojo.com/', :target=>'_blank' %>
  </ul>
<li><span>Shogi Books</span>
</ul>
</div>
</div>

<div id="main">

<div id="contents">
<%= yield %>
</div>

</div>
</div>

<div id="footer">
<center>
<table class="invisible" style="padding:0">
<tr><td style="border:0;padding:0 15px 0 0;"><%= image_tag 'is3-logo-small.png' %>
<td style="border:0;padding:0;text-align:left;">(c) Team ISCube<br>Innovative Shogi Information System Initiation Scheme
</table>
</center>
</div>
</body>
</html>
